/* static/css/style.css */

/* Kopfzeile im Chat*/
.header-chat {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-image: linear-gradient(#c9fdea, #a8e4fd);
    padding: 1rem 1.5rem;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Kopfzeile */
.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-icon {
    width: 40px;
    height: 40px;
}

.header-title {
    margin: 0;
    font-size: 1.8rem;
}

.header-divider {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 0;
}

.chat-container {
    padding-bottom: 80px;
    max-height: 80vh;
    overflow-y: auto;
}

.input-form-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 15px 30px;
    border-top: 1px solid #ccc;
}

.card {
    display: inline-block;
    max-width: 100%;
    border-radius: 15px;
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
}


.card-body {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    min-height: 40px;
}

.logout-btn {
    margin-top: -1px;
}

.message-time {
    font-size: 0.75rem;
    color: #393939;
    position: absolute;
    right: 0.4rem;
    bottom: -0.1rem;
}

::placeholder {
    color: #bbb;
    font-style: italic;
}


/* Dark-Mode */
.dark-mode .header-chat {
    color: #ffffff;
    background-image: linear-gradient(#000000, #424242);
    border-color: #b7b7b7;
}

body {
    background-color: #f8f9fa;
    color: #3b3b3b;
    transition: all 0.3s ease;
}

/* Chat-Fenster Allgemein */
.dark-mode {
    background-color: #3b3b3b; /* Body */
    color: #e7e7e7;            /* Title */
}

.dark-mode .header-icon {
    filter: invert(100%)
}

.dark-mode .card {
    background-color: #d01f1f;
    color: #505050;
    border-color: #333;
}



.dark-mode .input-form-container {
    background-color: #3b3b3b;
}

.dark-mode .form-control {
    background-color: #3b3b3b;
    color: #edecec;
}

/* Buttons Allgemein */
.dark-mode .btn {
    background-color: #3b3b3b;
    color: #fff;
    border-color: #444;
}

/* Logout Button */
.dark-mode .logout-btn {
    background-color: #ff5f5f;
    color: #fff;
    border-color: #444;
}

/* Clear Button */
.dark-mode .clear-btn {
    background-color: #ff5f5f;
    color: #fff;
    border-color: #444;
}

/* Zeitangabe */
.dark-mode .message-time {
    color: #bbb;
}

.dark-mode .username {
    color: #b4b4b4;  /* z. B. hellblau für Namen im Dark Mode */
}

.dark-mode ::placeholder {
    color: #b1b1b1;
}